{% extends 'layout.html' %}
{% load humanize %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'style3.css' %}">
{% for post in posts %}

<article>
    <div class="container-article">
        <a href="{% url 'profile' post.user.username %}"><img src="{{ post.user.profile.image.url }}"></a>
        <div>
            <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2> <!--pasamos el username como argunto a la url para que nos muestre el perfil del usuario que hizo el post-->
            <i class="clock"></i>
            <time data-time="#">{{ post.timestamp|naturaltime }}</time>
            <div class="post">{{ post.content }}</div>
            

        </div>
    </div>
    {% if user == post.user %}
        <div style="display: flex;display: flex;justify-content: flex-end;padding-right: 20px; ">
            <a href="{% url 'edit_post' post.id %}"><i class="fa-solid fa-pen-to-square " style="margin-right: 2rem;"></i></a>
            
            <a href="{% url 'delete_post' post.id %}" ><i class="fa-solid fa-trash-can" style="color: rgb(212, 25, 25);"></i></a>

        </div>
    {% endif %}
</article>

{% endfor %}

{% endblock %}